<% content_for :title do %>About<% end %>
<h3>About UpIndie</h3>
<br>
<p>There are so many great games that were succesfully crowdfunded. Now they all have a home here at UpIndie, where we passionately support the independent game developer.</p>

