/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// CSS from the bootstrap template.

// body {
//     // padding-top: 70px; //Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes.
// }

.jumbotron {
  background-image: image-url("accordian.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -35px;
  padding-top: 125px;
  height: 500px;
  color: #fff;
}

.hero-spacer {
    //margin-top: 50px;
    margin-left: -140px;
    margin-right: -140px;
}

// .hero-feature {
//     margin-bottom: 30px;
// }

// footer {
//     margin: 50px 0;
// }